{:duct.profile/base
 {:duct.core/project-ns chanty

  :duct.server.http/http-kit {:port 3030}

  :chanty.handler.user/fetch {:db #ig/ref :duct.database/sql}
  :chanty.handler.user/signup {:db #ig/ref :duct.database/sql}
  :chanty.handler.user/login {:db #ig/ref :duct.database/sql}

  :chanty.handler.message/fetch {:db #ig/ref :duct.database/sql}
  :chanty.handler.message/create {:db #ig/ref :duct.database/sql}
  :chanty.handler.message/polling {:db #ig/ref :duct.database/sql}

  :chanty.middleware/wrap-cors
  {:access-control-allow-origin [#chanty/regex ".*"]
   :access-control-allow-methods [:get :put :post :delete]}

  :duct.handler/root
  {:middleware [#ig/ref :chanty.middleware/wrap-cors]}

  :duct.database/sql
  {:connection-uri "jdbc:sqlite:db/chanty.sqlite"
   :logger #ig/ref :duct/logger}

  :duct.migrator/ragtime
  {:database #ig/ref :duct.database/sql
   :migrations [#ig/ref :chanty.migration/create-users
                #ig/ref :chanty.migration/create-messages]}

  [:duct.migrator.ragtime/sql :chanty.migration/create-users]
  {:up ["CREATE TABLE users (id TEXT primary key, nickname TEXT, password TEXT)"]
   :down ["DROP TABLE users"]}

  [:duct.migrator.ragtime/sql :chanty.migration/create-messages]
  {:up ["CREATE TABLE messages (user_id integer primary key, contents TEXT)"]
   :down ["DROP TABLE messages"]}}
 
 :duct.module/ataraxy
 {"/api"
  {"/users"
   {[:get "/" id] [:user/fetch id]
    [:post "/login" {{:keys [id password]} :body-params}] [:user/login id password]
    [:post {{:keys [id nickname password]} :body-params}] [:user/signup id nickname password]}

   "/messages"
   {[:get "/" id] [:message/fetch ^int id]
    [:post {{:keys [from to body]} :body-params}] [:message/create ^int from ^int to body]
    [:get "/" id "/polling"] [:message/polling]}}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}

 :duct.module/sql
 {}}
